.container {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: 100px;
}

.wrapper {
  background-color: white;
  display: flex;
  flex: 1;
  max-width: 550px;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 3px 43px -5px rgba(0,0,0,0.05);
}

.nav {
  height: 67px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ecedf1;
}

.navEl {
  padding: 0 35px;
  height: 100%;
  text-transform: uppercase;
  color: #899196;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.active {
  background-color: #4d8dc9;
  color: #bfddf2;
}
