html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arvo', Arial, Helvetica, Sans-serif;
  background-color: #faf2ef;
}

h2 {
  font-size: 2em;
  line-height: 1.5em;
}

p, li, ul, ol {
  font-family: 'Raleway';
  color: white;
  font-size: 20px;
  line-height: 1.25em;
}

.app {
}
