{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "redux-saga"
  ],
  "rules": {
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack/client.babel.js"
      }
    }
  }
}
