.container {
  display: flex;
  flex-direction: column;
  margin: 0 20px 20px 20px;
}

.label {
  padding: 10px 20px;
  color: #a6aaad;
  font-size: 13px;
}

.inputWrapper {
  height: 55px;
  border-radius: 4px;
  background-color: #f6f7f9;
  position: relative;
  display: flex;
}

.inputImg {
  content: '';
  top: 0;
  left: 20px;
  bottom: 0;
  width: 16px;
  height: 16px;
  position: absolute;
  margin: auto;
}

.input {
  border: none;
  background-color: #f6f7f9;
  outline: none;
  flex: 1;
  padding: 0 20px 0 50px;
  border-radius: 4px;
  color: #747474;
}

.input:focus {
  border: none;
  background-color: white;
  color: #747474;
  box-shadow: 0px 0px 5px 0px rgba(77,141,201,0.58);
}

.inputError {
  font-size: 13px;
  margin-top: 11px;
  margin-left: 20px;
  color: #fa6a68;
}

.inputSuccess {
  font-size: 13px;
  margin-top: 11px;
  margin-left: 20px;
  color: green;
}

.error {
  background-color: #ffb5b6;
  border: 1px solid #f6aaab;
  color: #aa6b7a;
}

.success {
  background-color: #b0fecf;
  border: 1px solid #abf4ae;
  color: #71a786;
}
