.wrapper {
  display: flex;
  flex: 1;
  height: 100%;
  align-items: center;
}

.logo {
  margin-right: 20px;
  height: 100%;
  width: 20px;
}

.name {
  font-size: 14px;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
}

.titleMainPart {
  color: white;
  font-size: 16px;
}

.titleLeadingPart {
  color: #afdf02;
}

.desc {
  color: #aeb3b7;
  font-size: 11px;
}
