.button {
  display: flex;
  justify-content: center;
  padding: 13px 40px;
  background-color: #4d8dc9;
  border-radius: 4px;
  border: 2px solid #659fd6;
  box-shadow: 0px 2px 0px 0px #3c70a0;
  min-width: 80px;
}
