.signInButtonContainer {
  display: flex;
  margin: 10px 0 23px 0;
  align-items: center;
  justify-content: center;
}

.signInButton {
  font-size: 13px;
  text-transform: uppercase;
  background-color: #a7a7a7;
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
  cursor: not-allowed;
}

.valid {
  background-color: #6dc4fd;
  cursor: pointer;
}

.valid:hover {
  background-color: #fa6a68;
}

.errorContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.errorMessage {
  color: #e24f4c;
  font-size: 14px;
  margin-right: 20px;
}
